.container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    display: flex;

    &-info {
      width: 50%;
      position: relative;
      background: linear-gradient(90deg, #a2d9ff 0.79%, #0099ff 49.79%);

      #nuvem-1 {
        width: 1500px;
        position: absolute;
        transform: rotate(90deg);
        top: 25%;
        bottom: 25%;
        z-index: 0;
      }

      &-mark {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #title-enterprise,
        #logo-enterprise,
        #link {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }

        #title-enterprise {
          height: 30%;
          color: #fefefc;
          letter-spacing: 1px;
          text-align: center;
        }
        #logo-enterprise {
          height: 30%;
        }
        #description {
          width: 70%;
          height: 30%;
          color: #fefefc;
          font-size: 20px;
          font-weight: 900;
        }
        #link {
          height: 10%;

          button {
            width: 150px;
            height: 40px;
            background: #fefefc;
            border-radius: 20px;
            border: none;
            color: #0099ff;
            font-weight: 600;
            letter-spacing: 1px;
          }

          button:active {
            box-shadow: 1px 1px 10px #dbdbdb;
          }
        }
      }
    }

    &-login {
      width: 40%;
      position: relative;
      background-color: #fefefc;
      z-index: 0;
      display: flex;
      justify-content: center;

      .box-login {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #box-login-title,
        #form-login,
        #buttons-action {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }

        #box-login-title {
          height: 30%;

          h1 {
            color: #453d38;
            letter-spacing: 1px;
          }
        }

        #form-login {
          width: 80%;
          height: 30%;
          flex-wrap: wrap;

          form {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }

          #text-login {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .input {
            width: 100%;

            label {
              letter-spacing: 1px;
              color: #453d38;
              margin-left: 10px;
              font-size: 12px;
              font-weight: 700;
            }

            input {
              width: 100%;
              padding-block: 14px;
              border-inline: none;
              border-top: none;
              border-bottom: 0.1px solid #b1c1d9;
              border-radius: 20px;
              padding-left: 10px;
            }
          }
        }

        #buttons-action {
          height: 10%;
          width: 100%;
          display: flex;
          justify-content: space-evenly;

          #btn-cancelar {
            width: 130px;
            height: 40px;
            padding-block: 10px;
            background: #fefefc;
            border: 1px solid #b1c1d9;
            border-radius: 20px;
            color: #0099ff;
          }

          #btn-cancelar:active {
            border: 1.5px solid #453d38;
            box-shadow: 1px 1px 10px #dbdbdb;
          }

          #cadastrar {
            width: 130px;
            height: 40px;
            padding-block: 10px;
            background: #0099ff;
            color: #fefefc;
            border: none;
            border-radius: 20px;
          }

          #cadastrar:active {
            box-shadow: 1px 1px 10px #dbdbdb;
          }
        }
      }
    }
  }
}

.nuvens {
    width: 10%;
    position: relative;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;

  svg {
    width: 1196px;
    height: 100%;
    position: absolute;
    display: block;
    transform: rotate(90deg);
  }
}

#nuvem-1 {
  right: -269px;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      &-info {
        width: 100%;
        height: 40%;
        background: linear-gradient(180deg, #a2d9ff 0%, #0099ff 100%);

        &-mark {
          flex-direction: row;

          #description {
            display: none;
          }

          #logo-enterprise{
            img {
                width: 250px;
            }
          }
        }
      }

      .nuvens {
        display: none;
      }

      &-login {
        width: 100%;
        height: 60%;

        .box-login {
          width: 60%;
          height: 100%;

          justify-content: space-evenly;

          #box-login-title {
            height: 10%;
          }

          #form-login {
            width: 100%;
            height: 60%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 709px) {
  .container {
    .content {
      &-info {
        background: linear-gradient(180deg, #a2d9ff 0%, #0099ff 100%);
        &-mark {
          #title-enterprise,
          #description,
          #link {
            display: none;
          }

          #logo-enterprise{
            img {
                width: 250px;
            }
          }
        }
      }

      &-login {
        .box-login {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (min-height: 866px) {
  #nuvem-1 {
    right: -279px;
  }
}
